YOUDUB_ROOT=/data/videos
YOUDUB_TASKS_PATH=/data/tasks/tasks.json
YOUDUB_LOG_DIR=/data/logs
YOUDUB_MODELS_DIR=/models
HF_HOME=/cache/huggingface
TORCH_HOME=/cache/torch
OPENAI_API_KEY=
OPENAI_API_BASE=
MODEL_NAME=
HF_READ_TOKEN=
BILI_SESSDATA=
BILI_BILI_JCT=

